.bg {
    background-image: url(../pic/阴山大草原5.png);
    position: absolute;
    top:-6px;
    left:-6px;
    height: 100%;
    width: 100%;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-filter: blur(4px);
    -moz-filter:blur(4px);
    -o-filter:blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
    opacity: 0.8;
}