<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="login.css">
    <link rel="icon" href="../../公用图片/logo-of-title.png" type="image/x-icon">
    <title>科普江湖-登录</title>
</head>

<body>
    <!--
        <img src="./pic/江湖2.jpg" class="login-background">
    -->
    <div class="login-video">
        <video autoplay="autoplay" class="login-background-video" loop="loop" muted>
            <source src="../videos/login.mp4">   
        </video>
    </div>
    <a href="../index.html"><img src="../pic/logo2.png" class="logo"></a>
    <div class="main-content">
        <div class="login">
            <form class="username-password">
                <p style="text-align: center;" id="login-title">登录科普江湖</p>
                <input type="text" id="username" value="请输入用户名">
                <input type="text" id="pswd" value="请输入密码">
            </form>
            <div class="_btn">
                <input type="submit" class="btn" value="登录">
                <!--
                <button class="btn" href="../register/register.html">注册</button>
                -->
            </div>
            <p style="font-size: 12px;position:absolute;right:9%;bottom:4.5%">还没有账号？<a href="../register/register.html" style="text-decoration: none;">点击注册</a></p>
        </div>
    </div>
    <script src="login.js"></script>
    <script src="javascripts/jquery.min.js"></script>
</body>

</html>