* {
    margin: 0;
    padding: 0;
}

.rotation {
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 10;
    width: 100%;
}

.rotation-btn {
    width: 50px;
    height: 100px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 40px;
    text-align: center;
    line-height: 100px;
    position: absolute;
    top: 235px;
    display: none;
    z-index: 5;
}

#picture {
    width: 100%;
}

#pic {
    position: absolute;
    width: 26%;
    height: 40%;
    top: 18%;
    text-align: center;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
}

#left {
    left: 37%;
    z-index: 3;
}

#right {
    right: 37%;
    z-index: 3;
}

#rotation-lists {
    width: 100%;
}

#rotation-list {
    list-style: none;
    position: absolute;
    bottom: 35%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
}

.rotation-li {
    text-align: center;
    margin: 0 auto;
    float: left;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    background-color: #aaa;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    z-index: 1;
}