body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h2 {
    font-size: 1.5em;
}
.login-background {
    position: absolute;
    top:-0.5px;
    left:-0.5px;
    height: 100%;
    width: 100%;
    z-index: -2;
    opacity:0.6;
}
.logo {
    width: 350px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.0);
    position: relative;
    z-index: -1;
}
.login {
    border: 8px solid rgb(213, 243, 255);
    background-color: rgb(149, 178, 255);
    border-radius: 18px;
    width: 350px;
    height: 200px;
    margin: 50px auto;
    padding: 25px;
    box-shadow:0px 1px 2px 1px #aaaaaa,
               inset 0px 1px 1px rgba(255,255,255,0.7);
}
#username {
    display: block;
    margin: 1.5em;
    height: 2em;
    width: 24em;
    color: #acacac;
    border-radius: 7px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid aquamarine;

}
#pswd {
    display: block;
    margin: 1.5em;
    height: 2em;
    width: 24em;
    color: #acacac;
    border-radius: 7px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid aquamarine;
}
._btn {
    margin: 0 auto;
    padding: 20px;
}
.btn {
    width: 125px;
    height: 40px;
    margin: 0 auto;
    border-width: 0px;
    border-radius: 4px;
    outline: none;
    background-color:white;
    font-size: 1.2em;
    font-weight: 500;
    color: black;
}
.btn:hover {
    background-color:skyblue;
}
.logo {
    margin: 100px solid auto;
}